<% provide(:title, t(".home")) %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %></title>
</head>
<body>
	<h1><%= t ".title_home" %></h1>
	<p>
		<%= t(".link", url: link_to(t(".title_link"), "http://www.railstutorial.org/")).html_safe %>
	</p>
</body>
</html>